<div class="justified">
    <div class="justified">
        <nav id="navbar" class="navbar navbar-static-top">
            <div class="container justified">
                <div>
                    <div class="navbar-header">
                        <!--fullstack-logo></fullstack-logo--> 
                        <img src="/images/ai-tanx-logo-black.png"></img>
                    </div>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                            <button class="btn" ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</button>
                        </li>
                    </ul>
                </div>
                <div  class="welcome">
                    <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
                    <button ng-show="!user" ui-sref="register" class="btn login-button">Register</button>
                    <span ng-show="user">Welcome, {{ user.username }}!</span>
                    <a ng-show="user" ng-click="logout()">Logout</a>
                </div>
            </div>
        </nav>
    </div>
</div>    